    <div class="header">
      <div class="container">
        <h1>threadly</h1>
      </div>
    </div>

    <div class="main">
      <div class="container">
        
        <!-- Form goes here -->
        <%= form_for(@new_post) do |post| %>
			 <div class="field"> 
         <%= post.text_field :comment, :placeholder => "share your thoughts" %>
        </div>
        <%= post.submit "Post", class: "btn" %>
        <% end %>
        
        <ul class="comments">
          <% @all_posts.each do |p| %>
          <li><%= p.comment %></li>
          <% end %>
        </ul>

      </div>
    </div>